.graphs-sidebar {
    flex: 1 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}   

.area-control, .date-control, .sector-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.graphs-sidebar ul {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.graphs-sidebar details ul {
    margin: 0.5rem 0 0.5rem 0;
}

.graphs-sidebar summary span {
    margin-left: 1rem;
}

.graphs-sidebar details summary {
    padding-bottom: 0.3rem;
    margin: 0.2rem;
    font-weight: 500;
}

.graphs-sidebar details summary:hover {
    cursor: pointer;
}

.graphs-sidebar details[open] summary {
    border-bottom: 2px solid rgba(139, 139, 139, 0.27);
}

.graphs {
    flex: 10 0 auto;
}