.file-name {
    white-space: nowrap;    /* no rompe en múltiples líneas */
    overflow: hidden;       /* oculta lo que sobra */
    text-overflow: ellipsis; /* agrega los "..." */
    max-width: 100%;
}

.upload {
    position: relative;
    border-radius: 5px;
    border-bottom: 0px; /* prevents duplicated borders with actionables */
}

.upload > .actionable {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid rgba(124, 124, 124, 0.123);
}

.upload div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}