<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gestión de Stock</title>
    
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    
    <link rel="icon" href="../static/img/icon-club-serrano.jpg" type="image/jpg"/>
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/logo-club-serrano.png" alt="Logo de Club Serrano">
            <ul>
                <li>
                    <div>
                        Gráficos
                    </div>
                </li>
                <li>
                    <div>
                        Productos
                    </div>
                </li>
                <li>
                    <div>
                        Datos
                    </div>    
                </li>
            </ul>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-align-justify-icon lucide-text-align-justify"><path d="M3 5h18"/><path d="M3 12h18"/><path d="M3 19h18"/></svg>
            </button>
        </nav>
    </header>
    <main>
        <div class="graphs-sidebar">
            <h2>Controladores</h2>
        </div>
        <div class="graphs">
            <h2>Acá irían los gráficos</h2>
        </div>
    </main>
</body>
</html>