<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gestión de Stock</title>
    
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/reports.css">
    <link rel="stylesheet" href="../static/css/inventory.css">
    <link rel="stylesheet" href="../static/css/selectables.css">
    <link rel="stylesheet" href="../static/css/menus.css">
    <link rel="stylesheet" href="../static/css/uploaders.css">
    
    <link rel="icon" href="../static/img/icon-club-serrano.jpg" type="image/jpg"/>

    <script type="module" src="../static/js/main.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/logo-club-serrano.png" alt="Logo de Club Serrano">
            <div class="menu">
                <button class="nav-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                </button>
                <div class="block desplegable">
                    <ul data-name="restaurant" class="selectables menu-button">
                        <li><button data-restaurant="club_serrano" class="active">Club Serrano</button></li>
                        <li><button data-restaurant="kubo">Kubo</button></li>
                    </ul>
                </div>
            </div>
            <ul data-name="section" class="selectables section-ul">
                <li>
                    <button data-section="reports">Reportes</button>
                </li>
                <li>
                    <button data-section="sales">Ventas</button>
                </li>
                <li>
                    <button data-section="inventory">Inventario</button>
                </li>
                <li>
                    <button data-section="employees">Empleados</button>
                </li>
                <li>
                    <button data-section="data">Datos</button>    
                </li>   
            </ul>
            <button class="nav-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-align-justify-icon lucide-text-align-justify"><path d="M3 5h18"/><path d="M3 12h18"/><path d="M3 19h18"/></svg>
            </button>
        </nav>
    </header>
    <main>
        <div class="section active" id="reports">
            <div class="block graphs-sidebar">
                <h2 class="title">Controladores</h2>
                <div class="area-control">    
                    <h3 class="subtitle">Control de área</h3>
                    <ul data-name="graphtype" class="selectables">
                        <li>
                            <details>
                                <summary>
                                    <span>Ventas</span>
                                </summary>
                                <ul>
                                    <li><button data-graphtype="general">General</button></li>
                                    <li><button data-graphtype="products">Productos</button></li>
                                    <li><button data-graphtype="finance">Financiero</button></li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <span>Inventario</span>
                                </summary>
                                <ul>
                                    <li><button>General</button></li>
                                    <li><button>Productos</button></li>
                                    <li><button>Financiero</button></li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <span>Empleados</span>
                                </summary>
                                <ul>
                                    <li><button>General</button></li>
                                    <li><button>Productos</button></li>
                                    <li><button>Financiero</button></li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>
                <div class="date-control">
                    <h3 class="subtitle">Control de fechas</h3>
                    <ul data-name="graphdate" class="selectables">
                        <li><button data-graphdate="daily">Diario</button></li>
                        <li><button data-graphdate="weekly">Semanal</button></li>
                        <li><button data-graphdate="monthly">Mensual</button></li>
                        <li>
                            <button data-graphdate="personalized">Rangos personalizados</button>
                        </li>
                    </ul>
                </div>
                <div class="sector-control">
                    <h3 class="subtitle">Control de sectores</h3>
                    <ul data-name="graphsection" class="selectables">
                        <li><button data-graphsection="general">General</button></li>
                        <li><button data-graphsection="bar">Barra</button></li>
                        <li><button data-graphsection="kitchen">Cocina</button></li>
                    </ul>
                </div>
            </div>
            <div class="block graphs">
                <h2 class="title">Acá irían los gráficos</h2>
            </div>
        </div>
        <div class="section" id="sales">
            <div class="flex-column">
                <div class="block center">
                    <h3>Cargar datos</h3>
                    <div class="upload" data-uploaderid="sales-file" data-endpoint="/sales/upload">
                        <input type="file" id="sales-file">
                        <div class="actionable">
                            <div style="visibility: hidden; max-width: 100%;">    
                                <span class="file-name">Archivo seleccionado</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </div>
                            <svg style="visibility: visible; position: absolute;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-from-line-icon lucide-arrow-up-from-line"><path d="m18 9-6-6-6 6"/><path d="M12 3v14"/><path d="M5 21h14"/></svg>
                        </div>
                        <button class="actionable">Subir archivo</button>    
                    </div>
                </div>
                <div style="flex: 1" class="block">
                    <h3>Cambios recientes</h3>
                </div>
            </div>
            <div class="block">
                 <div>Buscador</div>
            </div>
        </div>
        <div class="section" id="inventory">
        </div>
        </div>
        <div class="section" id="employees">
            <h2>Empleados</h2>
        </div>
        <div class="section" id="data">
            <h2>Datos</h2>
        </div>
    </main>
</body>
</html>