.nav-button {
    position: relative;
    width: 100%s;
    height: 100%;
    padding: 0.8rem;
    margin: 0.8rem;
}

.selectables button, .actionable {
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    width: 100%;
    padding: 0.3rem; 
    border-radius: 5px;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.actionable, .upload {
    display: inline-block;
    margin: 0.6rem 0.1rem 0.6rem 0.1rem;
    text-align: center;
    border: 2px solid rgba(124, 124, 124, 0.123);
}

.upload {
    border-radius: 5px;
    border-bottom: 0px; /* prevents duplicated borders with actionables */
}

.upload > .actionable {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid rgba(124, 124, 124, 0.123);
}

.selectables:not(.section-ul) button:hover, .actionable:hover {
    background-color: rgba(124, 124, 124, 0.123);
}

.selectables:not(.section-ul) button.active {
    background-color: rgba(124, 124, 124, 0.26);
}

.selectables.menu-button button {
    margin: 0.1rem;
    font-size: 1rem;
    font-weight: 500;
}

.selectables.section-ul button {
    position: relative; /* for the animations */ 
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 0;
    margin: 0;
    text-align: center;
    padding: 0;
}

.selectables.section-ul button::after {
    content: '';        
    position: absolute; 
    bottom: 0;         
    left: 0;           
    width: 100%;       
    height: 100%;      
    background: rgba(95, 95, 95, 0.164);   
    border-bottom: 2px solid rgb(255, 123, 0); 
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.selectables.section-ul button:hover::after { 
    background-color: rgba(124, 124, 124, 0.226);
    transform: scaleX(1); 
}

.selectables.section-ul button.active::after {
    transform: scaleX(1);
    border-bottom: 2px solid rgb(255, 123, 0);
    background: rgba(95, 95, 95, 0.3);
}

.selectables.section-ul button.active { font-weight: 700; }